<div class="container mb-5">
    <div class="tabsNav mt-5 mx-auto">

        <div class="tab">
            <input type="radio" name="tabs" #t1 checked disabled>
            <label for="t1">LOGIN</label>
            <div>
                <form novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>