<div class="rowContainer">
    <div class="icontainer">
        <div class="icon"><i class="fa-solid fa-magnifying-glass "></i></div>
        <div class="icontext">Busca Profesores Online <br>
            Filtre por Criterios</div>
    </div>
    <div class="icontainer">
        <div class="icon"><i class="fa-solid fa-receipt "></i></div>
        <div class="icontext">Mira las Cualificaciones, Comentarios y Experiencia</div>
    </div>
    <div class="icontainer">
        <div class="icon"><i class="fa-regular fa-address-book "></i></div>
        <div class="icontext">Regístrate y Contacta con tus Profesores</div>
    </div>
    <div class="icontainer">
        <div class="icon"><i class="fa-solid fa-chalkboard-user "></i></div>
        <div class="icontext">Selecciona tu Profesor Perfecto</div>
    </div>
</div>