<form novalidate [formGroup]="formRegisterPerfilTeacher" (ngSubmit)="getDataPerfilTeacher()">
  <div class="mb-3">
    <div class="row">
      <div class="mb-3 col-12">
        <label class="form-label">Área de conocimiento</label>
        <select class="form-control rama" formControlName="materia_id">
          <option value="81">Biología</option>
          <option value="161">Ciencias Naturales</option>
          <option value="131">Ciencias Sociales</option>
          <option value="121">Educación Física y Deporte</option>
          <option value="151">Educación Infantil</option>
          <option value="21">Estadística</option>
          <option value="91">Filosofía</option>
          <option value="31">Física</option>
          <option value="51">Física Computacional</option>
          <option value="101">Historia</option>
          <option value="171">Historia del Arte</option>
          <option value="111">Idiomas</option>
          <option value="141">Informática</option>
          <option value="1">Literatura</option>
          <option value="11">Matemáticas</option>
          <option value="41">Química</option>
        </select>
        <p class="error" *ngIf="checkControl('materia_id', 'required')">El campo es requerido</p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12">
        <label class="form-label">Nivel de estudios en que imparte formación</label>
        <select class="form-control nivel" formControlName="nivel_id">
          <option value="191">Primaria</option>
          <option value="201">ESO</option>
          <option value="221">FP</option>
          <option value="211">Bachillerato</option>
          <option value="231">Diplomatura</option>
          <option value="51">Grado</option>
          <option value="61">Master y Doctorado</option>
          <option value="241">Personas Mayores</option>
        </select>
        <p class="error" *ngIf="checkControl('nivel_id', 'required')">El campo es requerido</p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12">
        <label class="form-label">Cuota por hora</label>
        <input type="number" class="form-control" formControlName="cuota" step="0.1">
        <p class="error" *ngIf="checkControl('cuota', 'required')">El campo es requerido</p>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-12">
        <label class="form-label">Breve descripción de su Experiencia</label>
        <textarea class="form-control textarea" formControlName="experiencia" (keypress)="onKey($event)" [ngClass]="{'borde-rojo' : contador >= contadorMax}"></textarea>
        <p class="small-text">{{contador + 1}} / {{ contadorMax }}</p>
        <p class="error" *ngIf="checkControl('experiencia', 'required')">El campo es requerido</p>
      </div>
    </div>
    <div class="mb-3">
      <p class="text-end small-text">* Todos los campos son obligatorios</p>
      <input type="hidden" formControlName="status" value="0">
    </div>
    <input class="form-control" type="submit" value="Confirmar" class="btn btn-primary" [disabled]="!formRegisterPerfilTeacher.valid">
  </div>
</form>
