<app-header [logados]="logados"></app-header>
<div class="row">
    <div class="p-5 border border-2 border-dark col-12 col-sm-4 col-md-2">
        <h2 [routerLink]="['/adminprofile', admin.id]" role="button">Administrar</h2>
        <h5 [routerLink]="['/adminprofile', admin.id, 'tables', 'alumnos']" role="button">Alumnos</h5>
        <h5 [routerLink]="['/adminprofile', admin.id, 'tables', 'profesores']" role="button">Profesores</h5>
    </div>
    <div class="p-5 border border-2 border-dark col-12 col-sm-8 col-md-10">
        <h5 *ngIf="this.profType === 'alumnos'">Alumnos</h5>
        <h5 *ngIf="this.profType === 'profesores'">Profesores</h5>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col" *ngIf="this.profType === 'alumnos'">Estudia</th>
                        <th scope="col" *ngIf="this.profType === 'profesores'">Cuota</th>
                        <th scope="col" *ngIf="this.profType === 'profesores'">Experiencia</th>
                    </tr>
                </thead>
                <tbody *ngIf="this.profType === 'alumnos'">
                    <tr *ngFor="let student of studentList">
                        <th scope="row">{{student['id']}}</th>
                        <td>{{student['nombre']}} {{student['apellidos']}}</td>
                        <td>{{student['direccion']}}</td>
                        <td>{{student['ciudad']}}, {{student['codigo_postal']}}</td>
                        <td>{{student['telefono']}}</td>
                        <td>{{student['email']}}</td>
                        <td>{{student['fecha_nacimiento'] | date: 'dd/MM/YYYY'}}</td>
                        <td>{{student['estudia']}}</td>
                        <td><button class="btn btn-danger">Borrar</button></td>
                    </tr>
                </tbody>
                <tbody *ngIf="this.profType === 'profesores'">
                    <tr *ngFor="let teacher of teacherList">
                        <th scope="row">{{teacher['id']}}</th>
                        <td>{{teacher['nombre']}} {{teacher['apellidos']}}</td>
                        <td>{{teacher['direccion']}}</td>
                        <td>{{teacher['ciudad']}}, {{teacher['codigo_postal']}}</td>
                        <td>{{teacher['telefono']}}</td>
                        <td>{{teacher['email']}}</td>
                        <td>{{teacher['fecha_nacimiento'] | date: 'dd/MM/YYYY'}}</td>
                        <td>{{teacher['cuota']}}€/h</td>
                        <td>{{teacher['experiencia']}}</td>
                        <td><button class="btn btn-success">Validar</button></td>
                        <td><button class="btn btn-danger">Borrar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>