<footer class="container">
    <div class="footer-wrapper">
        <div class="teacherapp">
            <i class="fa-solid fa-book"></i>
            <h4>TeacherApp</h4>
        </div>
        <div class="contact">
            <h5>Contacto</h5>
            <p><i class="fa-brands fa-whatsapp"></i> 625879654</p>
        </div>
        <nav class="social">
            <h5>Redes Sociales</h5>
            <div class="social-links">
                <a href="#"><i class="fa-brands fa-facebook fs-5"></i><span>Facebook</span></a>
                <a href="#"><i class="fa-brands fa-twitter fs-5"></i><span>Twitter</span></a>
                <a href="#"><i class="fa-brands fa-instagram fs-5"></i><span>Instagram</span></a>
                <a href="#"><i class="fa-brands fa-github"></i><span>GitHub</span></a>
            </div>
        </nav>
        <nav class="policy">
            <h5> Políticas</h5>
            <div class="policy-links">
                <a href="#"><span>Política de cookies</span></a>
                <a href="#"><span>Política de privacidad</span></a>
                <a href="#"><span>Términos y condiciones</span></a>
            </div>
        </nav>
    </div>
    <div class="copy-wrapper">
        <h6>&copy; 2023. TeacherApp</h6>
    </div>
</footer>