<div class="container-fluid text-bg-dark border-2 border-top border-dark rounded-top mt-3 py-4">
    <div class="d-flex container gap-5 justify-content-around">
        <div>
            <i class="fa-solid fa-book text-primary"></i>
            <h4 class="text-primary d-inline"> TeacherApp</h4>
        </div>
        <div class="d-flex flex-column gap-2">
            <h5>Contacto</h5>
            <p><i class="fa-solid fa-phone"></i> 625879654</p>
        </div>
        <div class="d-flex flex-column gap-2">
            <h5>Redes Sociales</h5>
            <div class="d-flex flex-column align-items-start">
                <button class="btn text-bg-dark">
                    <i class="fa-brands fa-facebook fs-5 d-inline-block"></i> Facebook
                </button>
                <button class="btn text-bg-dark">
                    <i class="fa-brands fa-twitter fs-5"></i> Twitter
                </button>
                <button class="btn text-bg-dark">
                    <i class="fa-brands fa-instagram fs-5"></i> Instagram
                </button>
                <button class="btn text-bg-dark">
                    <i class="fa-brands fa-github"></i> GitHub
                </button>
            </div>
        </div>
        <div class="d-flex flex-column gap-2">
            <h5>Políticas</h5>
            <div class="d-flex flex-column align-items-start">
                <button class="btn text-bg-dark">
                    Política de cookies
                </button>
                <button class="btn text-bg-dark">
                    Política de privacidad
                </button>
                <button class="btn text-bg-dark">
                    Términos y condiciones
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <h6 class="text-primary">&copy; 2023. TeacherApp</h6>
    </div>
</div>