<div class="row">
    <div class="custom-column ">
        <div class="titlecontent">
            <h2 class="mt-3 title" [routerLink]="['/register']">ÚNETE COMO ALUMNO</h2>
        </div>
        <div class="bg-light p-3 description">
            <div class="list">
                <div class="check-list">
                    <div class="check"><i class="fa-solid fa-check fa-xl"></i></div>
                    <div class="li-text">Busca profesores en línea.</div>
                </div>
                <div class="check-list">
                    <div class="check"><i class="fa-solid fa-check fa-xl"></i></div>
                    <div class="li-text">Todos nuestros profesores están verificados.</div>
                </div>
                <div class="check-list">
                    <div class="check"><i class="fa-solid fa-check fa-xl"></i></div>
                    <div class="li-text">Gestiona tus clases a través de nuestro sistema de reservas.</div>
                </div>
                <div class="check-list">
                    <div class="check"><i class="fa-solid fa-check fa-xl"></i></div>
                    <div class="li-text">Si no estás satisfecho con tu profesor, te devolvemos su dinero.</div>
                </div>
            </div>
            <div class="buttoncontent">
                <button class="btn btn-primary mt-4 register-button" [routerLink]="['/register']">Regístrate</button>
            </div>

        </div>
    </div>
    <div class="custom-column ">
        <div class="titlecontent">
            <h2 class="mt-3 title" [routerLink]="['/register']">ÚNETE COMO PROFESOR</h2>
        </div>
        <div class="bg-light p-3 description">
            <div class="list">
                <div class="check-list">
                    <div class="check"><i class="fa-solid fa-check fa-xl"></i></div>
                    <div class="li-text">Nuestro sitio es completamente gratis para profesores.</div>
                </div>
                <div class="check-list">
                    <div class="check"><i class="fa-solid fa-check fa-xl"></i></div>
                    <div class="li-text">Cree su propio perfil y anuncie sus servicios.</div>
                </div>
                <div class="check-list">
                    <div class="check"><i class="fa-solid fa-check fa-xl"></i></div>
                    <div class="li-text">Profesor online usando nuestra pizarra interactiva.</div>
                </div>
            </div>

            <div class="buttoncontent">
                <button class="btn btn-primary mt-3 register-button" [routerLink]="['/register']">Regístrate</button>
            </div>

        </div>
    </div>

</div>