<header>
  <nav class="navContainer navbar navbar-expand-md custom-navbar navbar-light">
    <div class="container-fluid">
      <h1 class="title" [routerLink]="['/home']"><i class="fa-solid fa-book"></i> TeacherApp</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'justify-content-evenly': logados, 'justify-content-end': !logados}" id="navbarNavDropdown">
        <p *ngIf="logados" class="pt-3">Bienvenido {{username}}</p>
        <ul class="navbar-nav">
          <li *ngIf="!logados" class="nav-item">
            <a class="nav-link active register" [routerLink]="['/registro']"><i class="fa-solid fa-address-card"></i>
              Registro</a>
          </li>
          <li *ngIf="!logados" class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-user"></i> Login
            </a>
          </li>
          <li *ngIf="logados" class="nav-item">
            <a *ngIf="role === 'alumno'" [routerLink]="['/studentprofile']" class="nav-link">
              <i class="fa-solid fa-lock"></i> Acceso a zona privada
            </a>
            <a *ngIf="role === 'profesor'" [routerLink]="['/teacherprofile']" class="nav-link">
              <i class="fa-solid fa-lock"></i> Acceso a zona privada
            </a>
          </li>
          <li *ngIf="logados" class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">LOGIN</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="mt-3" novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
            <input type="submit" [class]="formLogin.valid ? 'btn btn-primary enter' : 'text-orange'" [disabled]="!formLogin.valid" value="{{formLogin.valid ? 'Entrar' : 'Introduzca sus datos'}}" data-bs-dismiss="modal">


          </form>

        </div>
        <div class="modal-footer">
          <div>
            <p>¿No estás registrado?</p>
          </div>
          <div><button type="button" class="btn btn-primary" data-bs-dismiss="modal" [routerLink]="['/registro']">Regístrate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
