<header>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12 col-md-4">
        <h1 class="title">TeacherApp</h1>
      </div>
      <div class="col-12 col-md-4">
        <p><i class="fa-brands fa-whatsapp"></i> 625879654</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-6"><button class="btn btn-primary">Login</button></div>
          <div class="col-6"><button class="btn btn-primary" [routerLink]="['/registro']">Registrarse</button></div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-light border-top border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid position-relative">
    <img src="assets/images/Depositphotos_165452398_XL.jpg" alt="" class="img-fluid">
    <h2 class="position-absolute top-50 start-50 translate-middle fw-bold title">Encuentre El Profesor Online Adecuado
      Para Usted</h2>
  </div>
</header>
