.navContainer {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 7%;
  padding-right: 7%;
}

.custom-navbar {
  background-color: whitesmoke;
}

.custom-navbar .nav-link,
.custom-navbar {
  font-size: 1.5rem;
  color: #0d47a1;
  transition: color 0.33s ease;
}

.register {
  margin-right: 2rem;
}

.custom-navbar .nav-link:hover {
  color: #FF5722;
}

i {
  color: #0d47a1;
}

.fa-address-card {
  font-size: 1.6rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
  color: #0d47a1;
  margin: 0%;
  transition: color 0.33s ease;
}

.btn {
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.btn:hover {
  background-color: #FF5722;
  border-color: #FF5722;
}

.title:hover {
  color: #FF5722;
}