.navContainer {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 7%;
  padding-right: 7%;
}

.custom-navbar {
  background-color: whitesmoke;
}

.nav-link,
.register,
.custom-navbar {
  font-size: 1.5rem;
  color: #0d47a1;
  transition: color 0.33s ease;
}

.register {
  margin-right: 2rem;
}

.goPrivate {
  cursor: pointer;
  margin-right: 24px;
}

.privateArea {
  color: rgb(0, 0, 0);
  margin-right: 2rem;
}

.modal-title {
  color: #FF5722;
}

button {
  transition: all 1s ease-in-out;
}

.enter {
  background-color: #FF5722;
  border-color: #da4112;
}

.text-orange {
  color: orange;
  background-color: transparent;
  border: none;
}


.container-fluid:hover .nav-link {
  color: #FF5722;
}

.text-orange {
  color: #FF5722;
}

i {
  color: #0d47a1;
  transition: color 0.33s ease;
}

.fa-address-card {
  font-size: 1.6rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
  color: #0d47a1;
  margin: 0%;
  transition: color 0.33s ease;
  padding: 8px;
  cursor: pointer;
}

.btn {
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.btn:hover {
  background-color: #FF5722;
  border-color: #FF5722;
}

.container-fluid:hover .title {
  color: #FF5722;
}

.container-fluid:hover i {
  color: black;
}

/*Login con modal en el enlace del header*/
.modal-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.fa {
  color: rgba(0, 0, 0, 0.69);
}

.icontainer {
  display: flex;
  padding: 0.25rem;
  justify-content: right;
}

.input-group-text {
  background-color: transparent;
}

.titleContain {
  display: flex;
}

.logged-in {
  color: #FF5722;
}

.registerNoLoged {
  margin-right: 5rem;
}

.info-user {
  margin-right: 5rem;
  color: rgba(0, 0, 0, 0.825);
}

.no-pointer {
  cursor: default;
}






@media(max-width: 700px) {
  .navContainer {
    margin-bottom: 6%;
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 9.5vw;
  }

  .navbar-toggler {
    font-size: 5vw;
  }

  .navContainer {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media (max-width: 300px) {
  .navContainer {
    min-width: 300px;
  }
}