<div class="mapAndTeachersContainer">
    <div class="mapContainer">
        <img class="map"
            src="https://d500.epimg.net/cincodias/imagenes/2015/10/29/lifestyle/1446136907_063470_1446137018_noticia_normal.jpg"
            alt="Imagen de nuestro mapa de google maps con marcadores de geolocalización de los profesores disponibles en su zona">
    </div>
    <div class="teacherContainer">
        <img class="teacher"
            src="https://img.freepik.com/free-vector/buyer-persona-infographics-flat-design_23-2148659313.jpg"
            alt="Perfiles de rofesores cercanos a usted">
    </div>
</div>