<app-header [logado]="logado"></app-header>
<div class="all">
  <div class="contentRow">

    <div class="options">

      <div class="adminName">
        <h2>Área personal {{student.username}}</h2>
      </div>
      <div class="links">
        <div class="link noSelected" [routerLink]="['/studentprofile', currentId, 'tables', 'profesores']"
          role="button">
          <h5>Mis profesores</h5>
        </div>
        <div class="link" [routerLink]="['/studentprofile', currentId]" role="button">
          <h5>Mi perfil</h5>
        </div>

        <!-- <div class="link noSelected" [routerLink]="['/studentprofile', currentId, 'buscar', 'profesores']" role="button">
          <h5>Buscar Profesores</h5>
        </div> -->

        <div class="link noSelected" role="button">
          <h5>Buscar Profesores</h5>
        </div>

      </div>

    </div>
    <div class="content">
      <div class="variableContent">
        <div class="picture">

          <div class="imgContent">
            <img [src]="student.foto" [alt]="student.nombre" class="img-thumbnail">
          </div>

          <div class="charge">
            <div class="texto">
              <button class="btn btn-outline-secondary p-1" (click)="fileInput.click()">Seleccionar
                imagen</button>
            </div>
            <div class="upload">
              <input #fileInput class="btn btn-primary file-upload" type="file" style="display: none;">
            </div>
          </div>

          <div class="data">
            <div class="dataB">
              <p>Nombre: {{student.nombre}} {{student.apellidos}}</p>
              <p>Nombre de usuario: {{student.username}}</p>
              <p>Email: {{student.email}}</p>
              <p>Rol: Alumno</p>
              <p>Estudia: {{student.estudia}}</p>
              <p>Dirección: {{student.direccion}}</p>
              <p>Población: {{student.ciudad}}</p>
              <p>Teléfono: {{student.telefono}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>