<div class="w-profile">
    <div class="w-manage">
        <h1 class="title">Gestionar</h1>
        <p class="manage-text">Mis profesores</p>
    </div>
    <div class="w-dataprofile">
        <div>
            <div>
                <h1 class="title">Perfil</h1>
                <img class="student-image" src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png"
                    alt="student_image">
                <button class="image-button">Seleccionar foto de perfil</button>
            </div>
            <div class="table-data">
                <div class="data1">
                    <ul class="list">
                        <li>Nombre: "Nombre y apellidos"</li>
                        <li>Nombre de usuario: "Nombre usuario</li>
                        <li>Email: "Email"</li>
                        <li>Rol: "rol"</li>
                    </ul>
                </div>
                <div class="data2">
                    <ul class="list">
                        <li>Dirección: "dirección"</li>
                        <li>Población: "Población"</li>
                        <li>Teléfono: "teléfono"</li>
                    </ul>
                </div>
                <div class="data2">
                    <p>Recibe formación de:</p>
                    <ul>
                        <li>"Matemáticas"</li>
                        <li>"Biología"</li>
                    </ul>
                </div>
            </div>
            <div class="btns">
                <span>
                    <button class="btn-act">Actualizar</button>
                    <button>Darme de baja</button>
                </span>
            </div>
        </div>
        <div>
            <div class="r-profile">
                <span>Nombre y apellidos</span>
                <img class="student-image2" src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png"
                    alt="student_image">
            </div>
        </div>
    </div>
</div>