<app-header [logado]="logado"></app-header>
<div class="row">
  <div class="p-5 border border-2 border-dark col-12 col-sm-4 col-md-2">
    <h2>Gestionar</h2>
    <h5>Mis Profesores</h5>
    <ul class="list-group">
      <li *ngFor="let teacher of teachers; let i=index" class="list-group-item">
        {{teachers[i].datos_per.nombre}}
        {{teachers[i].datos_per.apellidos}}
      </li>
    </ul>
  </div>
  <div class="p-5 border border-2 border-dark col-12 col-sm-8 col-md-10">
    <div class="container-fluid">
      <h5>Perfil</h5>
      <img [src]="student.foto" [alt]="student.nombre" class="img-thumbnail w-25">
      <div class="d-inline-block m-4 align-bottom">
        <p>Seleccionar foto de perfil: </p>
        <input class="btn btn-primary file-upload w-100" type="file">

      </div>
    </div>
    <div class="row mt-4 justify-content-around">
      <div class="col-12 col-sm-6 col-md-4">
        <p>Nombre: {{student.nombre}} {{student.apellidos}}</p>
        <p>Nombre de usuario: {{student.username}}</p>
        <p>Email: {{student.email}} </p>
        <p>Rol: Alumno</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <p>Dirección: {{student.direccion}}</p>
        <p>Población: {{student.ciudad}}</p>
        <p>Teléfono: {{student.telefono}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <p>Estudia:</p>
        <ul class="list-group">
          <li class="list-group-item"><i class="fa-solid fa-check"></i> {{student.estudia}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>