<form novalidate [formGroup]="formRegisterPersonal" (ngSubmit)="getDataPersonal()">
  <div class="row">
    <div class="mb-3 col-12 col-md-6">
      <label class="form-label">Nombre *</label>
      <input type="text" class="form-control" formControlName="nombre">
      <p class="error" *ngIf="checkControl('nombre', 'required')">El campo es requerido</p>
      <p class="error" *ngIf="checkControl('nombre', 'minlength')">El nombre no puede ser más corto de 3 letras</p>
      <p class="error" *ngIf="checkControl('nombre', 'maxlength')">El nombre no puede ser más largo de 45 letras</p>
    </div>
    <div class="mb-3 col-12 col-md-6">
      <label class="form-label">Apellidos *</label>
      <input type="text" class="form-control" formControlName="apellidos">
      <p class="error" *ngIf="checkControl('apellidos', 'required')">El campo es requerido</p>
      <p class="error" *ngIf="checkControl('apellidos', 'maxlength')">Los apellidos no pueden ser más largos de 45 letras</p>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12">
      <label class="form-label">Dirección y Número *</label>
      <input type="text" class="form-control" formControlName="direccion">
      <p class="error" *ngIf="checkControl('direccion', 'required')">El campo es requerido</p>
      <p class="error" *ngIf="checkControl('direccion', 'maxlength')">La dirección no puede ser más larga de 100 letras</p>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12 col-md-6">
      <label class="form-label">Ciudad *</label>
      <input type="text" class="form-control" formControlName="ciudad">
      <p class="error" *ngIf="checkControl('ciudad', 'required')">El campo es requerido</p>
      <p class="error" *ngIf="checkControl('ciudad', 'maxlength')">La ciudad no puede ser más larga de 45 letras</p>
    </div>
    <div class="mb-3 col-12 col-md-6">
      <label class="form-label">Código Postal *</label>
      <input type="number" class="form-control" formControlName="codigo_postal">
      <p class="error" *ngIf="checkControl('codigo_postal', 'required')">El campo es requerido</p>
      <p class="error" *ngIf="checkControl('codigo_postal', 'maxlength')">El código postal debe ser de 5 números</p>
      <p class="error" *ngIf="checkControl('codigo_postal', 'minlength')">El código postal debe ser de 5 números</p>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12 col-md-6">
      <label class="form-label">Teléfono *</label>
      <input type="text" class="form-control" formControlName="telefono">
      <p class="error" *ngIf="checkControl('telefono', 'required')">El campo es requerido</p>
      <p class="error" *ngIf="checkControl('telefono', 'maxlength')">El teléfono debe ser de máximo 12 números</p>
      <p class="error" *ngIf="checkControl('telefono', 'minlength')">El teléfono debe ser mínimo 9 números</p>
    </div>
    <div class="mb-3 col-12 col-md-6">
      <label class="form-label">Fecha Nacimiento</label>
      <input type="date" class="form-control" formControlName="fecha_nacimiento">
    </div>
  </div>

  <div class="mb-3">
    <p class="text-end small-text">* Campos obligatorios</p>
    <input class="form-control" type="submit" value="Continuar" class="btn btn-primary" for="t3" (click)="onContinuar($event)" [disabled]="!formRegisterPersonal.valid">
  </div>
</form>
