<div class="a">
  <div class="imgContent"><img *ngIf="teacher.foto" [src]="teacher.foto" [alt]="teacher.nombre"> <img
      *ngIf="!teacher.foto"
      src="https://www.nicepng.com/png/detail/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png"
      class="img-thumbnail" alt="usuario sin imagen">
    <div class="card-overlay">
      <!-- <h5 class="card-title">Teacher <br>{{teacher.teacher.nombre}} {{teacher.teacher.apellidos}}</h5> -->
      <div class="stars-outer">
        <div class="stars-inner" [ngStyle]="{'width': startPercentatgeRounded}"></div>
      </div>
    </div>
  </div>
  <div class="teacher_data">
    <div>
      <p>{{teacher.nombre}} {{teacher.apellidos}}</p>
    </div>
    <div>
      <p>{{teacher.cuota}} €/h</p>
    </div>
    <div>
      <p>{{teacher.experiencia}}</p>
      <p *ngFor="let materia of teacher.materias"> {{materia.rama}} {{materia.nivel}}</p>
    </div>
    <div>
      <p><i class="fa-brands fa-whatsapp"></i> {{teacher.telefono}}</p>
    </div>
    <div>
      <p><i class="fa-regular fa-envelope"></i> {{teacher.email}}</p>
    </div>
    <div>
      <i class="fa-solid fa-location-dot"></i> {{teacher.direccion}}
    </div>
    <div>
      {{teacher.ciudad}}
    </div>
  </div>
</div>
<div class="b">
  <!-- <div class="stars-outer">
    <div class="stars-inner" [ngStyle]="{'width': startPercentatgeRounded}"></div>
  </div> -->
  <div class="buttoncontent">
    <form class="" novalidate [formGroup]="formCrearClase" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="profesor_id" [(ngModel)]="profesor_id">
      <input type="hidden" formControlName="alumno_id" [(ngModel)]="alumno_id">
      <input type="hidden" formControlName="rama_co_id" [(ngModel)]="rama_co_id">
      <input class="btn btn-primary mt-3 cita-button" type="submit" [routerLink]="" value="Solicitar Clase">
    </form>
  </div>

</div>