.cards-equipo ul {
  display: flex;
  padding: 0;
  height: 34rem;
}

.cards-equipo {
  width: 33%;
  min-width: 306px;
  max-width: 1182px;
  height: 100%;
  min-height: 480px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .cards-equipo {
    width: 636px;
  }
}

@media (min-width: 1200px) {
  .cards-equipo {
    width: 100%;
    width: 1212px;
  }
}

.cards-equipo li {
  width: 300%;
  min-width: 306px;
  list-style: none;
  min-height: 32rem;
}

@media (min-width: 768px) {
  .cards-equipo li {
    width: 300%;
  }
}

@media (min-width: 1200px) {
  .cards-equipo li {
    min-width: 280px;
    max-width: 280px;
  }
}

.cards-equipo .card {
  width: 100%;
  min-height: 485px;
}

/* @media (min-width: 996px) {
  .cards-equipo .card {
    width: 100%;
  }
} */

.cards-equipo ul {
  width: 200%;
  animation: slide 30s infinite alternate ease-in-out;
}

@media (min-width: 768px) {
  .cards-equipo ul {
    gap: 1rem;
    animation: slide2 30s infinite alternate ease-in-out;
  }
}

@media (min-width: 1200px) {
  .cards-equipo ul {
    animation: slide3 30s infinite alternate ease-in-out;
  }
}

.card {
  z-index: -1;
  /* width: 31rem; */
  overflow: hidden;
  min-height: auto;
}

.card p {
  margin: 1rem 0;
}

.card .cargo {
  font-variant: small-caps;
}

.card .nombre {
  font-weight: 700;
}

.card-content {
  min-height: 51rem;
  padding: 2rem;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  10% {
    margin-left: 0;
  }

  15% {
    margin-left: -100%;
  }

  30% {
    margin-left: -100%;
  }

  45% {
    margin-left: -200%;
  }

  /* 50% {
    margin-left: -200%;
  } */

  60% {
    margin-left: -200%;
  }

  85% {
    margin-left: -300%;
  }

  /* 90% {
    margin-left: -400%;
  } */

  100% {
    margin-left: -300%;
  }


}

@keyframes slide2 {
  0% {
    margin-left: 0;
  }

  47% {
    margin-left: 0;
  }

  53% {
    margin-left: -100%;
  }

  100% {
    margin-left: -100%;
  }

  /* 70% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
}*/
}

@keyframes slide3 {
  0% {
    margin-left: 0;
  }

  /* 48% {
    margin-left: 0;
  }

  52% {
    margin-left: -100%;
  } */

  100% {
    margin-left: 0%;
  }

  /* 66% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  } */
}