<div class="row">
    <div class="p-5 border border-2 border-dark col-12 col-sm-4 col-md-2">
        <h2>Gestionar</h2>
        <h5>Mis Alumnos</h5>
    </div>
    <div class="p-5 border border-2 border-dark col-12 col-sm-8 col-md-10">
        <div class="container-fluid">
            <h5>Perfil</h5>
            <img src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png" alt="Teacher Image"
                class="img-thumbnail w-25">
            <div class="d-inline-block m-4 align-bottom">
                <p>Seleccionar foto de perfil: </p>
                <input class="btn btn-primary file-upload w-100" type="file">
            </div>
        </div>
        <div class="row mt-4 justify-content-around">
            <div class="col-12 col-sm-6 col-md-4">
                <p>Nombre: Nombre y Apellidos</p>
                <p>Nombre de usuario: Username</p>
                <p>Email: correo@correo.com</p>
                <p>Rol: Profesor</p>
                <p>Cuota: 25€/h</p>
                <p>Experiencia: 3 años</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <p>Dirección: C/ Tres Puertas Nº 58 Planta 3 Puerta 5</p>
                <p>Población: Barcelona 08321</p>
                <p>Teléfono: 654821466</p>
                <p>Ramas de Conocimiento: Física, Matemáticas</p>
                <p>Currículum: </p>
                <input class="btn btn-primary file-upload w-100" type="file">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <p>Imparte formación a nivel de:</p>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa-solid fa-check"></i> ESO</li>
                    <li class="list-group-item"><i class="fa-solid fa-check"></i> FP</li>
                </ul>
            </div>
        </div>
    </div>
</div>