<!-- <app-header [logado]="logado"></app-header>
<div class="row">
  <div class="p-5 border border-2 border-dark col-12 col-sm-4 col-md-2">
    <h2>Gestionar</h2>
    <h5 [routerLink]="['/teacherprofile', currentId, 'tables', 'alumnos']" role="button">Mis Alumnos</h5>
  </div>
  <div class="p-5 border border-2 border-dark col-12 col-sm-8 col-md-10">
    <div class="container-fluid">
      <h5>Perfil</h5>

      <img [src]="teacher.foto" [alt]="teacher.nombre" class="img-thumbnail w-25">

      <div class="d-inline-block m-4 align-bottom">
        <p>Seleccionar foto de perfil: </p>
        <input class="btn btn-primary file-upload w-100" type="file">
      </div>
    </div>
    <div class="row mt-4 justify-content-around">
      <div class="col-12 col-sm-6 col-md-4">
        <p>Nombre: {{teacher.nombre}} {{teacher.apellidos}}</p>
        <p>Nombre de usuario: {{teacher.username}}</p>
        <p>Email: {{teacher.email}}</p>
        <p>Dirección: {{teacher.direccion}}</p>
        <p>Población: {{teacher.ciudad}}</p>
        <p>Teléfono: {{teacher.telefono}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <p>Rol: Profesor</p>
        <p>Cuota: {{teacher.cuota}}€/h</p>
        <p>Experiencia: {{teacher.experiencia}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <p>Status:</p>
        <ul class="list-group">
          <li class="list-group-item"><i class="fa-solid fa-check"></i> {{teacher.status}}</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<app-header [logado]="logado"></app-header>
<div class="all">
  <div class="contentRow">

    <div class="options">

      <div class="adminName">
        <h2>Área personal {{teacher.username}}</h2>
      </div>
      <div class="links">
        <div class="link noSelected" [routerLink]="['/teacherprofile', currentId, 'tables', 'profesores']"
          role="button">
          <h5>Mis alumnos</h5>
        </div>
        <div class="link" [routerLink]="['/teacherprofile', currentId]" role="button">
          <h5>Mi perfil</h5>
        </div>
      </div>

    </div>
    <div class="content">
      <div *ngIf="teacher.foto" class="variableContent">
        <div class="picture">

          <div class="imgContent">
            <img [src]="teacher.foto" [alt]="teacher.nombre" class="img-thumbnail">
          </div>

          <div class="charge">
            <div class="texto">
              <button class="btn btn-outline-secondary p-1" (click)="fileInput.click()">Seleccionar
                imagen</button>
            </div>
            <div class="upload">
              <input #fileInput class="btn btn-primary file-upload" type="file" style="display: none;">
            </div>
          </div>

          <div class="data">
            <div class="dataB">
              <p>Nombre: {{teacher.nombre}} {{teacher.apellidos}}</p>
              <p>Nombre de usuario: {{teacher.username}}</p>
              <p>Email: {{teacher.email}}</p>
              <p>Rol: Profesor</p>
              <p>Cuota: {{teacher.cuota}}€/h</p>
              <p>Experiencia: {{teacher.experiencia}}</p>
              <p>Dirección: {{teacher.direccion}}</p>
              <p>Población: {{teacher.ciudad}}</p>
              <p>Teléfono: {{teacher.telefono}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>