<app-header [logado]="logado"></app-header>
<div class="all">
  <div class="contentRow">

    <div class="options">

      <div class="adminName">
        <h2>Área personal de {{teacher.username}}</h2>
      </div>
      <div class="links">
        <div class="link noSelected" [routerLink]="['/teacherprofile', currentId, 'tables', 'alumnos']" role="button">
          <h5>Mis alumnos</h5>
        </div>
        <div class="link" [routerLink]="['/teacherprofile', currentId]" role="button">
          <h5>Mi perfil</h5>
        </div>
      </div>

    </div>
    <div class="content">
      <div *ngIf="teacher.nombre" class="variableContent">
        <div class="teacherContent">
          <div class="teacher">
            <div class="image" *ngIf="!previsualizacion">
              <div class="imgContent"><img *ngIf="teacher.foto" [src]="baseDownload + teacher.foto" [alt]="teacher.nombre" class="img-thumbnail">
                <img *ngIf="!teacher.foto" src="https://www.nicepng.com/png/detail/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" class="img-thumbnail">
              </div>
              <div class="texto">
                <button class="btn btn-outline-secondary p-1" (click)="fileInput.click()">Seleccionar
                  imagen</button>
              </div>
            </div>
            <div class="charge justify-content-end">
              <div *ngIf="previsualizacion" class="imgContent">
                <img [src]="previsualizacion" alt="" width="100px" class="img-thumbnail">
              </div>
              <div *ngIf="previsualizacion" class="subir mx-auto">
                <button class="btn btn-outline-secondary p-1 me-2" (click)="subirArchivo()">Subir imagen</button>
                <button class="btn btn-outline-secondary p-1" (click)="cancelar()">Cancelar</button>
              </div>
              <div class="upload">
                <input #fileInput class="btn btn-primary file-upload" type="file" style="display: none;" (change)="capturarFile($event)" name="file0">
              </div>
            </div>
            <div class="teacher_data">
              <p>{{teacher.nombre}} {{teacher.apellidos}}</p>
              <p>{{teacher.experiencia}}</p>
              <p>{{teacher.cuota}}€/h</p>
              <p><i class="fa-regular fa-envelope"></i> {{teacher.email}}</p>
              <p><i class="fa-brands fa-whatsapp"></i> {{teacher.telefono}}</p>
              <p><i class="fa-solid fa-location-dot"></i> {{teacher.direccion}}</p>
              <p>{{teacher.ciudad}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
