.stars-outer {
  display: flex;
  position: relative;
  font-family: FontAwesome;
  font-size: 32px;
  width: 180px;
  margin: 0 auto;
  justify-content: left;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  display: block;
  position: absolute;
  /* top: 0;
  left: 0; */
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  display: block;
  text-align: left;
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
  margin: 0;
}

img {
  height: 15.4rem;
}