<agm-map [latitude]="lat" [longitude]="long" [zoom]="5" [scrollwheel]="false">
  >

  <agm-marker [latitude]="lat" [longitude]="long" [iconUrl]="$any({
    url:'https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/map-marker-alt.svg',
    scaledSize: { width: 25, height: 25 }
  })">
    <agm-info-window></agm-info-window>
  </agm-marker>

  <agm-marker *ngFor="let teacher of teachersPositions" [latitude]="teacher?.latitud!" [longitude]="teacher?.longitud!">
    <agm-info-window>
      <div class="teacherMap">
        <div class="imgMap"><img src="{{baseDownload + teacher.foto}}" alt="imagen de teacher {{teacher.nombre}}{{teacher.apellidos}}">
        </div>
        <div class="nameMap">{{teacher?.nombre}} {{teacher?.apellidos}}</div>
      </div>
    </agm-info-window>
  </agm-marker>

</agm-map>
<div *ngIf="!geolocal" class="formAddress">
  <div class="row">
    <p>Si deseas conocer la ubicación de los profesores más cercanos a tí, da permiso para conocer tu ubicación</p>
  </div>
</div>
