<app-header [logado]="logado"></app-header>
<div class="row">
  <div class="p-5 border border-2 border-dark col-12 col-sm-4 col-md-2">
    <h2 role="button" class="pointer my-4" [routerLink]="['/studentprofile', student.id, 'search']">Gestionar</h2>
    <h5 role="button" class="pointer my-4" [routerLink]="['/studentprofile', student.id, 'search']">Buscar Profesores</h5>
    <h5 role="button" class="pointer my-4">Mis Profesores</h5>
    <h5 role="button" class="pointer my-4" [routerLink]="['/studentprofile', student.id]">Mi Perfil</h5>
  </div>
  <div class="p-5 border border-2 border-dark col-12 col-sm-8 col-md-10">
    <div class="container-fluid">
      <h5>Buscar</h5>
      <div class="containerMap">
        <div class="mapContainer">
          <app-mapa [search]="search" class="map"></app-mapa>
        </div>
      </div>
      <section class="todos my-4 p-4">
        <h2 class="mb-4">Todos los profesores</h2>
        <div class="ordenar row justify-content-end">
          <form class="col-3" action="">
            <label for="ordenar" class="form-label">Ordenar por:</label>
            <select class="form-control" name="ordenar" id="ordenar">
              <option value="">Seleccione</option>
              <option value="pa">Cuota: más baja la primera</option>
              <option value="pd">Cuota: más alta la primera</option>
              <option value="na">Puntuación: más baja la primera</option>
              <option value="nd">Puntuación: más alta la primera</option>
            </select>
          </form>
        </div>
        <div class="todos-profesores ">
          <div class="zona-filtros row justify-content-start">
            <h4 class="filtros">Filtros</h4>
            <div class="contenedor-filtros col-2">
              <form id="filtros" class="form-group">
                <div class="materias md:flex flex-row">
                  <div class="mt-3">
                    <label class="form-label" for="materia">Materia</label>
                    <input class="form-control" type="search" name="materia" placeholder="Buscar..." [(ngModel)]="materia" (keyup)="filtrarProfesor()">
                  </div>
                </div>
                <div class="niveles md:flex flex-row justify-between 2xl:block">
                  <div class="mt-3">
                    <label class="form-label" for="Nivel">Nivel</label>
                    <select class="form-control" name="nivel" id="nivel" [(ngModel)]="nivel" (change)="filtrarProfesor()">
                      <option value="">Seleccione</option>
                      <option [value]="item" *ngFor="let item of listaNiveles">{{item}}</option>
                    </select>
                  </div>
                </div>
                <div class="precios md:flex flex-row justify-between">
                  <div class=" mt-3">
                    <label for="cuotamin" class="form-label">Cuota Mínima</label>
                    <select class="form-control" name="cuotamin" id="cuotamin" [(ngModel)]="cuotamin" (change)="filtrarProfesor()">
                      <option value="">Seleccione</option>
                      <option value="9.9">10€</option>
                      <option value="19.9">20€</option>
                      <option value="29.9">30€</option>
                      <option value="39.9">40€</option>
                      <option value="49.9">50€</option>
                      <option value="59.9">60€</option>
                    </select>
                  </div>
                  <div class="mt-3">
                    <label for="cuotamax" class="form-label">Cuota Máxima</label>
                    <select class="form-control" name="cuotamax" id="cuotamax" [(ngModel)]="cuotamax" (change)="filtrarProfesor()">
                      <option value="">Seleccione</option>
                      <option value="40.1">40€</option>
                      <option value="50.1">50€</option>
                      <option value="60.1">60€</option>
                      <option value="75.1">75€</option>
                      <option value="90.1">90€</option>
                    </select>
                  </div>
                </div>
                <div class="valoraciones md:flex flex-row">
                  <div class="mt-3">
                    <label class="form-label" for="puntuacion">Valoración</label>
                    <select class="form-control" name="puntuacion" id="puntuacion" [(ngModel)]="puntuacion" (change)="filtrarProfesor()">
                      <option value="">Seleccione</option>
                      <option value="2">1 Estrella</option>
                      <option value="4">2 Estrellas</option>
                      <option value="6">3 Estrellas</option>
                      <option value="8">4 Estrellas</option>
                      <option value="10">5 Estrellas</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="zona-profesores col-10" id="lista-profesores">
              <div class="slider-container-tv cards-productos mt-6 text-center">
                <ul class="flex flex-wrap justify-evenly gap-y-6">
                  <li class="resultado" *ngFor="let current_teacher of teachers_list | filterMateria:filterTeacher" id="resultado">
                    <app-teachers-home-cards class="card mb-3" [teacher]="current_teacher"></app-teachers-home-cards>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
