<app-header [logado]="logado"></app-header>
<div class="all">
  <div class="contentRow">
    <div class="options">
      <div class="adminName">
        <h2>Área Personal
          <!-- {{student.username}} -->
        </h2>
      </div>
      <div class="links">
        <div class="link noSelected" [routerLink]="['/studentprofile', currentId, 'tables', 'alumnos']" role="button">
          <h5>Mis profesores</h5>
        </div>
        <div class="link noSelected" [routerLink]="['/studentprofile', currentId]" role="button">
          <h5>Mi perfil</h5>
        </div>

        <div class="link selected" [routerLink]="['/studentprofile', currentId, 'search']" role="button">
          <h5>Buscar Profesores</h5>
        </div>
      </div>
    </div>
    <div class="content">

      <div class="containerMap">
        <div class="mapContainer">
          <app-mapa [search]="search" class="map"></app-mapa>
        </div>
      </div>
      <section class="seccion">
        <div class="filterContent">
          <!-- <div class="A-titleFilter">
            <h4 class="filtros">Filtrar profesores</h4>
          </div> -->
          <div class="B-filters">
            <div class="order">
              <form class="form-group">
                <select class="form-control" name="ordenar" id="ordenar" [(ngModel)]="ordenar"
                  (change)="ordenarTeachers()">
                  <option value="">Ordenar listado</option>
                  <option value="pa">Precio ascendente</option>
                  <option value="pd">Precio descendente</option>
                  <option value="na">Puntuación ascendente</option>
                  <option value="nd">Puntuación descendente</option>
                </select>
              </form>
            </div>
            <div class="materia">
              <select class="form-control justify-content-center" name="materia" [(ngModel)]="materia"
                (change)="filtrarProfesor()">
                <option value="">Mareria</option>
                <option value="Biología">Biología</option>
                <option value="Ciencias Naturales">Ciencias Naturales</option>
                <option value="Ciencias Sociales">Ciencias Sociales</option>
                <option value="Educación Física y Deporte">Educación Física y Deporte</option>
                <option value="Educación Infantil">Educación Infantil</option>
                <option value="Estadística">Estadística</option>
                <option value="Filosofía">Filosofía</option>
                <option value="Física">Física</option>
                <option value="Física Computacional">Física Computacional</option>
                <option value="Historia">Historia</option>
                <option value="Historia del Arte">Historia del Arte</option>
                <option value="Idiomas">Idiomas</option>
                <option value="Informática">Informática</option>
                <option value="Literatura">Literatura</option>
                <option value="Matemáticas">Matemáticas</option>
                <option value="Química">Química</option>
              </select>
            </div>
            <div class="nivel">
              <select class="form-control" name="nivel" id="nivel" [(ngModel)]="nivel" (change)="filtrarProfesor()">
                <option value="">Nivel</option>
                <option [value]="item" *ngFor="let item of listaNiveles">{{item}}</option>
              </select>
            </div>
            <div class="minPrice">
              <select class="form-control" name="cuotamin" id="cuotamin" [(ngModel)]="cuotamin"
                (change)="filtrarProfesor()">
                <option value="">Precio min</option>
                <option value="9.9">10€</option>
                <option value="19.9">20€</option>
                <option value="29.9">30€</option>
                <option value="39.9">40€</option>
                <option value="49.9">50€</option>
                <option value="59.9">60€</option>
              </select>
            </div>
            <div class="maxPrice">
              <select class="form-control" name="cuotamax" id="cuotamax" [(ngModel)]="cuotamax"
                (change)="filtrarProfesor()">
                <option value="">Precio max</option>
                <option value="40.1">40€</option>
                <option value="50.1">50€</option>
                <option value="60.1">60€</option>
                <option value="75.1">75€</option>
                <option value="90.1">90€</option>
              </select>
            </div>
            <div class="valueTeacher">
              <select class="form-control" name="puntuacion" id="puntuacion" [(ngModel)]="puntuacion"
                (change)="filtrarProfesor()">
                <option value="">Valoración</option>
                <option value="0.1">Sin Valoración</option>
                <option value="2">1 Estrella</option>
                <option value="4">2 Estrellas</option>
                <option value="6">3 Estrellas</option>
                <option value="8">4 Estrellas</option>
                <option value="10">5 Estrellas</option>
              </select>
            </div>
          </div>
        </div>
        <!-- ESTE ES EL DE DEV -->
        <!--   <div class="zona-profesores" id="lista-profesores">
          <div class="slider-container-tv cards-productos mt-6 text-center">
            <ul class="flex flex-wrap justify-evenly gap-y-6 max-width">
              <li class="resultado" *ngFor="let current_teacher of teachers_list | filterMateria:filterTeacher"
                id="resultado">
                <app-teachers-home-cards class="card mb-3" [teacher]="current_teacher"></app-teachers-home-cards>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- FIN DEL DE DEV -->

        <!--  <div class="todos-profesores ">
          <div class="zona-filtros row justify-content-start">
            <div class="zona-profesores col-12 col-lg-10 mt-4" id="lista-profesores">
              <div class="slider-container-tv cards-productos mt-6 text-center">
                <ul class="flex flex-wrap justify-evenly gap-y-6 max-width">
                  <li class="resultado" *ngFor="let current_teacher of teachers_list | filterMateria:filterTeacher"
                    id="resultado">
                    <app-teachers-home-cards class="card mb-3" [teacher]="current_teacher"></app-teachers-home-cards>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->

        <div class="teacherContent">
          <div class="teacher" *ngFor="let teacher of teachers_list | filterMateria:filterTeacher" id="resultado">
            <app-teachers-home-cards class="card mb-3" [teacher]="teacher"></app-teachers-home-cards>
          </div>
          <!-- <div class="teacher" *ngFor="let teacher of teachers_list | filterMateria:filterTeacher" id="resultado">
            <div class="a">
              <div class="imgContent"><img *ngIf="teacher.foto" [src]="teacher.foto" [alt]="teacher.nombre"> <img
                  *ngIf="!teacher.foto"
                  src="https://www.nicepng.com/png/detail/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png"
                  class="img-thumbnail" alt="usuario sin imagen">
              </div>
              <div class="teacher_data">
                <div>
                  <p>{{teacher.nombre}} {{teacher.apellidos}}</p>
                </div>
                <div>
                  <p>{{teacher.cuota}} €/h</p>
                </div>
                <div>
                  <p>{{teacher.experiencia}}</p>
                  <p *ngFor="let materia of teacher.materias"> {{materia.rama}} {{materia.nivel}}</p>
                </div>
                <div>
                  <p><i class="fa-brands fa-whatsapp"></i> {{teacher.telefono}}</p>
                </div>
                <div>
                  <p><i class="fa-regular fa-envelope"></i> {{teacher.email}}</p>
                </div>
                <div>
                  <i class="fa-solid fa-location-dot"></i> {{teacher.direccion}}
                </div>
                <div>
                  {{teacher.ciudad}}
                </div>
              </div>
            </div>
            <div class="b">
              <app-teacher-score-card class="card d-block w-100" [teacher]="teacher"></app-teacher-score-card>
            </div>
          </div> -->

        </div>
      </section>

    </div>
  </div>

</div>