.containerMap {
  display: flex;
  max-width: 100%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.mapContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.map {
  width: 100%;
  height: 100%;
  height: 30rem;
}

.pointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
}